h1{
	text-align: center;
	font-size: 50px;
	color: blue;
}
h2{
	font-size: 35px;
	color: red;
}
.me{
	font-size: 15px;
	font-family: monospace;
	color: black;
}
body{
	background-image: url(/home/luka/Pictures/hood_hommie-20190223-0010.jpg);
}
